</html>
<script src="__PUBLIC__js/jquery.min.js?v=2.1.4"></script>
<script src="__PUBLIC__js/bootstrap.min.js?v=3.3.5"></script>
<script src="__PUBLIC__js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__PUBLIC__js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__PUBLIC__js/plugins/layer/layer.min.js"></script>
<script src="__PUBLIC__js/hplus.min.js?v=4.0.0"></script>
<script type="text/javascript" src="__PUBLIC__js/contabs.min.js"></script>
<script src="__PUBLIC__js/plugins/pace/pace.min.js"></script>

<!-- <script src="__PUBLIC__js/content.min.js"></script> -->
<script src="__PUBLIC__js/welcome.min.js"></script>

<!-- <script src="__PUBLIC__js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__PUBLIC__js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__PUBLIC__js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__PUBLIC__js/demo/bootstrap-table-demo.min.js"></script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script> -->

<script src="__PUBLIC__js/myfunction.js"></script>
