{include file="public/header" /}

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>分类列表</h5>
            </div>
            <div class="ibox-content">
                <a href="{:url('category_add')}" class="btn btn-primary">添加分类</a>
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th class="text-center" width="50px"><input type="checkbox" onclick="checkbox_toggle(this,'checkbox-item')"></th>
                            <th class="text-center" width="100px">ID</th>
                            <th>分类名称</th>
                            <th class="text-center" width="150px">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="list" id="v"}
                        <tr>
                            <td class="text-center"><input type="checkbox" class="checkbox-item" name="" value="{$v['id']}"></td>
                            <td class="text-center">{$v['id']}</td>
                            <td>{$v['name']}</td>
                            <td class="text-center">
                                <a href="javascript:" title="编辑" style="font-size: 14px;color:#333;margin: 5px"><i class="fa fa-edit"></i></a>
                                <a href="javascript:" title="删除" style="font-size: 14px;color:#333;margin: 5px"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>

            </div>
        </div>

    </div>

</body>

{include file="public/footer" /}

<script>
$(function(){

})
</script>